<h1>Usuarios registrados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Encuesta</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.survey && Survey.exists?(user.survey.id) %>
            <%= link_to "Ver respuestas", survey_path(user.survey.id) %>
          <% else %>
            Encuesta no contestada
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

