<h1>Lista de Usuarios</h1>

<div style="text-align: center;">
  <table style="margin: 0 auto;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nombre %></td>
          <td><%= user.email %></td>
          <td><%= user.admin? ? "Sí" : "No" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= button_to "Cerrar sesión", logout_path, method: :delete, class: "btn btn-danger" %>
