<h1>Lista de Usuarios</h1>

<div style="text-align: center;">
  <table style="margin: 0 auto;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Encuesta</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nombre %></td>
          <td><%= user.email %></td>
          <td><%= user.admin? ? "Sí" : "No" %></td>
          <td>
            <% if user.survey.present? %>
              <%= link_to "Ver resultados", user_survey_path(user, user.survey), class: "btn btn-primary" %>

            <% else %>
              Encuesta sin resolver
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

