<h1><%= @user.nombre %></h1>
<nav class="navbar">
  <ul class="navbar-items">
    <li class="navbar-item"><a href="#">Perfil</a></li>
    <li class="navbar-item"><a href="#">Oportunidades</a></li>
    <li class="navbar-item"><a href="#">Tienda</a></li>
  </ul>
</nav>
<p>Experiencia: <%= @user.experiencia %> puntos</p>
<p>Nivel: <%= @user.nivel %></p>
