<p class="body-copy">
  <%= t("homepage.body") %>
</p>

<div class="contenedor-boton">
  <%= link_to t("homepage.register"), new_user_path(locale: I18n.locale), class: "boton-interesado" %>
</div>

<%= link_to t("homepage.login"), new_session_path(locale: I18n.locale), class: "link_left" %>

