
<p class="body-copy">

empieza a practicar el deporte de tus sueños en mucho menos tiempo
de lo que piensas

<div class="contenedor-boton">
   <%= link_to "Estoy interesado", "#", class: "boton-interesado" %>
</div>

</p>
