<p class="body-copy"><%= t('homepage.hero_text') %></p>


  
<div class="contenedor-boton">
  <%= link_to t('buttons.interested'), register_path, class: "boton-interesado" %>
</div>


<%= link_to t('links.already_have_account'), login_path, class: "enlace-derecha" %>
