
<p class="body-copy">
llegaste al sitio donde encuentras la oportunidad para practicar nuevos deportes y experiencias saludables, 
registrate para conectarte con las ultimas tendencias, para ver las oportunidades de aventuras que estan
esperando por que las descubras.
</p>
<div class="contenedor-boton">
   <%= link_to "Registrarme", new_user_path, class: "boton-interesado" %>
</div>

<%= link_to "Ya tengo una cuenta", new_session_path, class: "link_left" %>



